@model ViewModel.Entities.Vm_User


<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\vendors-rtl.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\katex.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\monokai-sublime.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\quill.snow.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\vendors\css\editors\quill\quill.bubble.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\colors.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\components.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\themes\dark-layout.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\themes\semi-dark-layout.min.css">

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\core\menu\menu-types\horizontal-menu.min.css">
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\core\colors\palette-gradient.min.css">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="..\..\..\app-assets\css-rtl\custom-rtl.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/style-rtl.css">
<!-- END: Custom CSS-->

<!-- Multiple Rules Validation start -->
<form action="/home/edit" method="POST" enctype="multipart/form-data">
	<section class="multiple-validation">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">اعتبارسنجی چندین نقشی</h4>
					</div>
					<input asp-for="Id" style="display:none">
					<div class="card-content">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="text" asp-for="Name" class="form-control" placeholder="نام "
												required=""
												data-validation-required-message="لطفا نام خود را وارد نمایید">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="text" asp-for="Family" class="form-control"
												placeholder="نام خانوادگی  " required=""
												data-validation-required-message="لطفا فامیلی خود را وارد نمایید">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="text" asp-for="Age" class="form-control" placeholder="سن   "
												required=""
												data-validation-required-message="لطفا سن خود را وارد نمایید">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="text" asp-for="Address" class="form-control"
												placeholder=" آدرس   " required=""
												data-validation-required-message="لطفا آدرس خود را وارد نمایید">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="text" class="form-control" asp-for="CodeNational"
												id="readonlyInput" readonly="readonly" placeholder="کدملی   "
												required=""
												data-validation-required-message="لطفا کدملی خود را وارد نمایید">
										</div>
									</div>
								</div>
								<!--   Image Upload  -->

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<input type="File" onchange="preview_image(event);" asp-for="File"
												data-validation-required-message="لطفا عکس خود را آپلود نمایید">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											<img src="\Upload\@Model.Image" id="output_image"
												style="width: 200px; height: 200px;" alt="">
										</div>
									</div>
								</div>
								<script>
									function preview_image(event) {
										var reader = new FileReader();
										reader.onload = function () {
											var output = document.getElementById('output_image');
											output.src = reader.result;
										}
										reader.readAsDataURL(event.target.files[0]);
									}
								</script>


								<!--   Image Upload  -->

								<!--   File Upload  -->

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											فایل مورد نظر را انتخاب کنید
											<input type="File" asp-for="FileUpload" required=""
												data-validation-required-message="لطفا فایل خود را آپلود نمایید">
										</div>
									</div>
									@if (Model.FileName !=null)
									{
										<a target="_blank" href="/Upload/@Model.FileName">دانلود فایل</a>

									
									}
								</div>
								
									
								<!--   File Upload  -->

								<!--   Video Upload  -->

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">
											عکس خود را انتخاب نمایید
											<input accept="File/*" type="File" onchange="preview_video(event);"
												asp-for="VideoUpload" required=""
												data-validation-required-message="لطفا ویدیو خود را آپلود نمایید">
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<div class="controls">

											<video width="320" height="240" controls id="output_video">
												<source src="/Upload/@Model.VideoName" type="video/mp4">
												<source src="/Upload/@Model.VideoName" type="video/ogg">
											</video>

										</div>
									</div>
								</div>

								<script>
									function preview_video(event) {
										var reader = new FileReader();
										reader.onload = function () {
											var output = document.getElementById('output_video');
											output.src = reader.result;
										}
										reader.readAsDataURL(event.target.files[0]);

									}
								</script>
								<!--   Video Upload  -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- full Editor start -->
	<section class="full-editor">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">ویرایشگر کامل</h4>
					</div>
					<div class="card-content collapse show">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12">
									<div id="full-wrapper">
										<div id="full-container">
											<input type="text" asp-for="Description" style="display: none;">
											<div class="editor" id="des">

												@Html.Raw(@Model.Description)

											</div>
											<span class="alert alert-success" style="display: none;" id="msg">متن با
												موفقیت ارسال شد</span>
											<a class="btn btn-info mt-2 mb	-2" onclick="send();">ارسال متن</a>

											<script>
												function send() {
													document.getElementById("Description").value = document.getElementById("des").innerHTML;
													document.getElementById("msg").style.display = ("block");

												}
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- full Editor end -->
	<button type="submit" class="btn btn-primary">ثبت تغییرات</button>

	<!-- Multiple Rule Validation end -->
</form>











<!-- BEGIN: Vendor JS-->
<script src="..\..\..\app-assets\vendors\js\vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="..\..\..\app-assets\vendors\js\ui\jquery.sticky.js"></script>
<script src="..\..\..\app-assets\vendors\js\editors\quill\katex.min.js"></script>
<script src="..\..\..\app-assets\vendors\js\editors\quill\highlight.min.js"></script>
<script src="..\..\..\app-assets\vendors\js\editors\quill\quill.min.js"></script>
<script src="..\..\..\app-assets\vendors\js\extensions\jquery.steps.min.js"></script>
<script src="..\..\..\app-assets\vendors\js\forms\validation\jquery.validate.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="..\..\..\app-assets\js\core\app-menu.min.js"></script>
<script src="..\..\..\app-assets\js\core\app.min.js"></script>
<script src="..\..\..\app-assets\js\scripts\components.min.js"></script>
<script src="..\..\..\app-assets\js\scripts\customizer.min.js"></script>
<script src="..\..\..\app-assets\js\scripts\footer.min.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="..\..\..\app-assets\js\scripts\editors\editor-quill.min.js"></script>
<!-- END: Page JS-->