<!-- Basic Select2 start -->
<section class="basic-select2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Select2</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
            

<div class="col-sm-6 col-12">
					<p> نام دسته را وارد نمایید</p>
	                <div class="form-group">
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="نام دسته" value="نام دسته" required="">
                      </div>
		        </div>

            	<div class="col-sm-6 col-12">
					<p> انتخاب نام دسته پدر </p>
	                <div class="form-group">
						<select class="select2 form-control">
							<option value="square">مربع</option>
	                        <option value="rectangle">مستطیل</option>
	                        <option value="rombo">لوزی</option>
	                        <option value="romboid">لوزی</option>
	                        <option value="trapeze">ذوزنقه</option>
	                        <option value="traible">مثلث</option>
	                        <option value="polygon">چند ضلعی معمولی</option>
						</select>
					</div>
		        </div>

               <div style="text-align: left;" class="col-sm-12 col-12">
               <button type="submit" class="btn btn-success ">ثبت</button>
               <button type="submit" class="btn btn-warning">لغو</button>
		       </div>


              	
	           
	        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Select2 end -->  




<!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">
  @if (ViewBag.msg !=null) 
					{
						<p class="alert alert-warning text-center">@ViewBag.msg</p>
					}
	<div class="card-header">
						<h4 class="card-title">  دسته های موجود</h4>
					</div>
  <!-- dataTable starts -->
  <div class="table-responsive">
    <table class="table data-thumb-view Aroco-table">
      <thead>
        <tr>
          <th></th>
          <th>ردیف</th>
          <th>نام دسته</th>
          <th>نام دسته پدر </th>
          <th>اقدام</th>
        </tr>
      </thead>
      <tbody>
       
          <tr>
          <td></td>
          <td class="product-name"> 000</td>
          <td class="product-category">000</td>
          <td class="product-category">000</td>

                                 

          <td class="product-action">


            <a ><i class="feather icon-trash"></i></a>
         
          </td>
        </tr> 
      
      

      </tbody>
    </table>
  </div>
  <!-- dataTable ends -->

</section>
<!-- Data list view end -->